<div class="wrap" layout="column" layout-fill>
  <!--Error view-->
  <alert-message-directive error-message="viewModel.errorMessage"></alert-message-directive>

  <!--Main view-->
  <div class="base-container" ng-if="viewModel.errorMessage.length === 0">
    <!--Search bar-->
    <div class="search-box" ng-if="!viewModel.showSearchedByText" layout="row" layout-align="start center">
      <md-icon flex="none" flex-order="1">search</md-icon>
      <input flex="grow" flex-order="1" class="search-input" ng-model="viewModel.query"
             on-enter-press="viewModel.searchByTitle()"
             type="text"
             placeholder="{{ viewModel.searchPlaceholder }}">
    </div>

    <!--Content view-->
    <md-content layout-padding>
      <!--Progress view-->
      <progress-indicator-directive
        should-indicate-progress="viewModel.shouldShowProgressView"></progress-indicator-directive>

      <md-grid-list
        ng-if="!viewModel.shouldShowProgressView"
        md-cols="10" md-cols-xs="2" md-cols-sm="4" md-cols-md="8"
        md-row-height="1:1"
        md-gutter="16px">
        <md-grid-tile ng-repeat="tile in viewModel.presentationTiles track by $index"
                      md-colspan="{{tile.span.default}}"
                      md-rowspan="{{tile.span.default}}" ng-cloak>
          <img class="tile-image" ng-src="{{tile.thumbnail}}" alt=""/>
          <md-grid-tile-footer>
            <h3 class="tile-title">{{tile.title}}</h3>
            <p class="creator-info">
              Created with <md-icon style="color: red">favorite</md-icon> by
              <br/>
              <a target="_blank" ng-href="{{tile.creator.profileUrl}}">{{ tile.creator.name }}</a>
            </p>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </md-content>
  </div>
</div>
