<div class="wrap" layout="column">
  <!--Error view-->
  <alert-message-directive error-message="viewModel.errorMessage"></alert-message-directive>

  <!--Main view-->
  <div class="base-container" ng-if="viewModel.errorMessage.length === 0">
    <!--Search bar-->
    <div class="search-box" ng-if="!viewModel.showSearchedByText" layout="row" layout-align="start center">
      <md-icon flex="none" flex-order="1">search</md-icon>
      <input flex="grow" flex-order="1" class="search-input" ng-model="viewModel.query"
             on-enter-press="viewModel.searchByTitle()"
             type="text"
             placeholder="{{ viewModel.searchPlaceholder }}">
    </div>

    <!--Filter view-->
    <div style="margin-top=10px" layout="row" layout-padding layout-align="start center">
      <md-input-container class="md-block" flex="20">
        <label>Sort by creation date</label>
        <md-select ng-model="viewModel.orderByOption"
                   md-on-close="viewModel.orderPresentationsBy(viewModel.orderByOption)">
          <md-option ng-repeat="option in viewModel.orderBy.options" value="{{ option.value }}">
            {{ option.name }}
          </md-option>
        </md-select>
      </md-input-container>
      <span flex></span>
      <p class="pagination-panel" layout="row" layout-align="end center">
        <md-button class="md-icon-button md-primary" ng-disabled="viewModel.currentOffset === 0"
                   ng-click="viewModel.fetchPrevPage()">
          <md-icon>chevron_left</md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary"
                   ng-disabled="viewModel.currentOffset === viewModel.maxOffset"
                   ng-click="viewModel.fetchNextPage()">
          <md-icon>chevron_right</md-icon>
        </md-button>

        Showing {{ viewModel.visiblePagination.lower }}-{{ viewModel.visiblePagination.upper }} of {{ viewModel.totalPresentations }} presentations
      </p>
    </div>

    <!--Content view-->
    <div layout="column" layout-padding>
      <!--Progress view-->
      <progress-indicator-directive
        should-indicate-progress="viewModel.shouldShowProgressView"></progress-indicator-directive>

      <md-grid-list
        ng-if="!viewModel.shouldShowProgressView"
        md-cols="10" md-cols-xs="2" md-cols-sm="4" md-cols-md="8"
        md-row-height="1:1"
        md-gutter="16px">
        <md-grid-tile ng-repeat="tile in viewModel.presentationTiles track by $index"
                      md-colspan="{{tile.span.default}}"
                      md-rowspan="{{tile.span.default}}" ng-cloak>
          <img class="tile-image" ng-src="{{tile.thumbnail}}" alt=""/>
          <md-grid-tile-footer>
            <h3 class="tile-title">
              {{tile.title}}
              <br/>
              <span class="created-at">
                {{tile.createdAt}}
              </span>
            </h3>

            <p class="creator-info">
              Created with
              <md-icon style="color: red">favorite</md-icon>
              by
              <br/>
              <a target="_blank" ng-href="{{tile.creator.profileUrl}}">{{ tile.creator.name }}</a>
            </p>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>
